*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

h1{ font-size: 2.25em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}


 button{
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 99, 192);
    cursor: pointer;
    border: #000000;
 }

 button:hover{
    background-color: rgb(71, 97, 245)
}

 
.container{
    max-width: 500px;
    margin: auto;
}

header{
    background-color: rgb(255, 255, 255);
}

header .logo{
        background-size: cover;
        background-position: center center;
    margin-top: -80px;
} 

.logo img {
    max-height: 250px;
    max-width: 250px; 
    margin-left: -360px;
    margin-top: 80px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
}

.navsss{
height: 100px;

}

.navsss a {
    margin-top: -15px
}

.sign a {
    margin-top: -40px;
    margin-left: 200px;
}

header a{
    white-space: nowrap;
    padding: 5px 12px;
    margin-top: -50px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

header a:hover{
    color: rgb(128, 128, 128);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
    background-image: url("assest/banner.jpg");
}

#hero p{
    font-size: 1.5em;
    color: white;
    margin-top: 370px;
}

.buttons{
    margin-top: 500px;
    margin-left: -640px;
}

/* -------segundo container-------- */

.footers img {
                width: 380px;
                height: 200px;
            }
            
            .foot1 {
                margin-top: -200px;
                margin-left: -750px;
            }
            
            .foot2 {
                margin-left: 100px;
                margin-top: -270px;
            }
            
            .foot3 {
                margin-left: 950px;
                margin-top: -272px;
            }

            .foot4 {
                background-image: url(assest/foto4.PNG);
                width: 543px;
                height: 307px;
                margin-top: 100px;
                margin-left: 122px;
            }

            .foot4 h2 {
                margin-top: 100px;
                margin-left: 580px;
                white-space: nowrap;
                color: rgb(0, 145, 230);
                font-size: 2em;
            }

            .foot4 h3 {
                margin-top: -20px;
                margin-left: 580px;
                white-space: nowrap;
                color: rgb(0, 0, 0);
                font-size: 1.15em;
            }

            .parrafo4 {
                margin-top: -240px;
                margin-left: 702px;
                margin-right: 200px;
                text-align: left;
                color: rgb(0, 0, 0);
                font-size: 1em;
            }

            .button-footer{
                margin-top: -2px;
                margin-left: 130px;
            }

#hero2 h1{
    white-space: nowrap;
    color: rgb(0, 145, 230);
    font-size: 1.50em;
}

#hero2 .container{
    text-align: center;
    padding: 250px 12px;
}

/* -------tercer container-------- */

.tres-container{
    box-shadow: 10px  black;
    text-shadow: 10px black;
}

.title1 h1 {
                margin-top: 100px;
                margin-left: -900px;
                white-space: nowrap;
                color: rgb(0, 145, 230);
                font-size: 1.75em;
            }

            .title2 h3{
                margin-top: -20px;
                margin-left: -870px;
                white-space: nowrap;
                font-size: 1.20em;
                color: rgb(255, 255, 255);
            }

            .title3 p{
                margin-top: 15px;
                margin-left: -214px;
                margin-right: 450px;
                text-align: left;
                font-size: 1.20em;
                color: rgb(255, 255, 255);
            }

            .buttons2{
                margin-top: 30px;
                margin-left: -730px;
                
            }

            .caratulas{
                margin-top: -250px;
                margin-left: 520px;
                box-shadow: inherit;
            }

#hero3{
    background-image: url(assest/halo-rojo.png);
    height: 550px;
    color: white;
    text-align: center;
}

#hero3 .container{
    padding: 60px 12px;
}

/* -------cuarto container-------- */

#hero4{
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    height: 65vh;
}

#hero4 .container{
    padding: 200px 12px;
}

.title11 h1 {
                margin-top: -150px;
                margin-left: -900px;
                white-space: nowrap;
                color: rgb(0, 145, 230);
                font-size: 1.75em;
            }

            .title22 h3{
                margin-top: -20px;
                margin-left: -850px;
                white-space: nowrap;
                font-size: 1.20em;
                color: rgb(0, 0, 0);
            }

            .title33 p{
                margin-top: 15px;
                margin-left: -210px;
                margin-right: 450px;
                text-align: left;
                font-size: 1.20em;
                color: rgb(0, 0, 0);
            }

            .buttons22{
                margin-top: 30px;
                margin-left: -740px;
                
            }

            .caratulas{
                margin-top: -250px;
                margin-left: 520px;
                box-shadow: inherit;
            }

/* -------- ultimo container ----------- */

footer{
    background-color: rgb(37, 37, 37);
    height: 7vh;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    #hero2 {
        height: 850px;
        }


    #hero2 .container{
        display: flex;
        justify-content: space-evenly;
    }

    #hero3 .programas{
        display: flex;
        justify-content: center;
    }


    footer p{
        color: rgb(252, 252, 252);
        cursor: pointer;
    }
    
    footer .container{
        justify-content: flex-end;

    }

    .idioma img{
        width: 30px;
        margin-left: 350px;
        margin-top: 17px;
        width: 40px;
        margin-left: 350px;
        margin-top: 15px;

    }

    .idioma p{
        margin-left: 400px;
        margin-top: -34px;
    }
    
    .idioma{
        margin-top: 10px;
    }

    .ultimo p{
        margin-left: 700px;
        margin-top: -35px;
        word-spacing: 0.25em;
    }

    .img-final img{
        width: 150px;
    }

    .img-final{
        margin-left: 1500px;
        margin-top: -45px;
    }
}