*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

h1{ font-size: 2.25em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}


 button{
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 99, 192);
    cursor: pointer;
    border: #000000;
 }

 button:hover{
    background-color: rgb(71, 97, 245)
}

 
.container{
    max-width: 500px;
    margin: auto;
}

header{
    background-color: rgb(255, 255, 255);
}

header .logo{
        background-size: cover;
        background-position: center center;
    margin-top: -80px;
} 

.logo img {
    max-height: 250px;
    max-width: 250px; 
    margin-left: -360px;
    margin-top: 80px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
}

.navsss{
height: 100px;

}

.navsss a {
    margin-top: -15px
}

.sign a {
    margin-top: -40px;
    margin-left: 200px;
}

header a{
    white-space: nowrap;
    padding: 5px 12px;
    margin-top: -50px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

header a:hover{
    color: rgb(128, 128, 128);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
   }

.carousel {
    position: relative;
    width: 1000%;
    height: 400px;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide 5s infinite;
  }
  
  .carousel-inner img {
    width: 33.33333%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-inner img.active {
    transform: translateX(0);
  }
  
  .carousel-inner img:first-of-type {
    transform: translateX(0);
  }
  
  .carousel-inner img:nth-of-type(2) {
    transform: translateX(-33.33333%);
  }
  
  .carousel-inner img:last-of-type {
    transform: translateX(-66.66666%);
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(0);
    }
    66.66% {
      transform: translateX(-33.33333%);
    }
    100% {
      transform: translateX(-33.33333%);
    }
  }
  

#hero p{
    font-size: 1.5em;
    color: white;
    margin-top: 370px;
}

.buttons{
    margin-top: 500px;
    margin-left: -640px;
}

/* -------segundo container-------- */

.footers img {
                width: 380px;
                height: 200px;
            }
            
            .foot1 {
                margin-top: -200px;
                margin-left: -750px;
            }
            
            .foot2 {
                margin-left: 100px;
                margin-top: -270px;
            }
            
            .foot3 {
                margin-left: 950px;
                margin-top: -272px;
            }

            .foot4 {
                background-image: url(assest/imagendid.png);
                width: 467px;
                height: 331px;
                margin-top: 100px;
                margin-left: 122px;
            }

            .foot4 h2 {
                margin-top: 100px;
                margin-left: 520px;
                white-space: nowrap;
                color: rgb(167, 80, 0);
                font-size: 2em;
            }

            .fot11 h3 {
                color: rgb(0, 0, 0);
                font-size: 1.5em;
            }

            .fot11 {
                margin-top: -300px;
                margin-left: 650px;
                margin-right: 300px;
                text-align: left;
            }

            .parrafo4 {
                margin-top: -240px;
                margin-left: 702px;
                margin-right: 200px;
                text-align: left;
                color: rgb(0, 0, 0);
                font-size: 1em;
            }

            .button-footer{
                margin-top: -2px;
                margin-left: 130px;
            }

#hero2 h1{
    color: rgb(167, 80, 0);
    font-size: 1.50em;
}

#hero2 .container{
    text-align: center;
    padding: 250px 12px;
}

/* -------- ultimo container ----------- */

footer{
    background-color: rgb(37, 37, 37);
    height: 30vh;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    #hero2 {
        height: 850px;
        }


    #hero2 .container{
        display: flex;
        justify-content: space-evenly;
    }

    #hero3 .programas{
        display: flex;
        justify-content: center;
    }


    footer p{
        color: rgb(252, 252, 252);
        cursor: pointer;
    }
    
    footer .container{
        justify-content: flex-end;

    }

    .ultimo p{
        margin-left:1450px;
        word-spacing: 0.4em;
        font-size: 1.4em;
    }

    .img-final img{
        width: 400px;
    }

    .img-final{
        margin-left: 200px;
        margin-top: 50px;
    }
}