*{
    box-sizing: border-box;
}



html{
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

h1{ font-size: 2.25em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}


footer button{
    height: 50px;
    width: 200px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgb(164, 0, 0);
    cursor: pointer;
    border: #000000;
 }

 button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

 
.container{
    max-width: 500px;
    margin: auto;
}

#header{
    height: 0px;
    background-color: rgb(255, 255, 255);
}

#header .logo{
        background-size: cover;
        background-position: center center;
    margin-top: -60px;
    margin-left: -300px;
} 

.logo img {
    max-height: 250px;
    max-width: 250px; 
    margin-left: -360px;
    margin-top: 80px;
}

#header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
}

.navsss {
    margin-top: -100px;
}

.navsss img{
    height: 35px;
    margin-top: -7px;
}

.sign a {

    margin-left: 1000px;
    margin-top: -88px;
}

#header a{
    white-space: nowrap;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#header a:hover{
    color: rgb(128, 128, 128);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    margin-top: 200px;
   }

#hero p{
    font-size: 1.5em;
    color: white;
    margin-top: 370px;
}

.buttons{
    margin-top: 500px;
    margin-left: -640px;
}
/* -------- aaaa ----------- */

.der{
    background-color: #ffffff;
    height: 300px;
    width: 530px;
    margin-left: 1373px;
    margin-top: 50px;
    
}

.der img {
height: 200px;
}

.der h2 {
    margin-top: 10px;
    white-space: nowrap;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}

.der button{
    height: 50px;
    width: 200px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgb(218, 102, 0);
    cursor: pointer;
    border: #ffffff;

 }
 
/* -------- aaaa ----------- */

.foot1 img{
    height: 400px;

}

.foot1{
    margin-left: -400px;
    margin-top: -100px;
}

.selec mark, h1{
    background-color: rgb(218, 102, 0);
    color: rgb(255, 255, 255);
    font-size: 1.3em;
}

.selec{
margin-left: -430px;
margin-top: -600px;
}

.tabladepre{
    margin-left: 200px;
    margin-top: -100px;
}

.tabladepre td, th{
    padding-top: 10px;
    color: rgb(0, 0, 0);
    text-align: left;
}

span{
    text-align: left;
    color: rgb(88, 88, 88);
}


/* -------- ultimo container ----------- */

footer{
    background-color: rgb(37, 37, 37);
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    #hero2 {
        height: 850px;
        }


    #hero2 .container{
        display: flex;
        justify-content: space-evenly;
    }

    #hero3 .programas{
        display: flex;
        justify-content: center;
    }

    footer{
        margin-top: -100px;
    }

    footer img{
        width: 400px;
        margin-top: 30px;
    }

    footer button{
    margin-left: 450px;
    margin-top: 30px;
    }

/* -------- mapa ----------- */

#contenedorMapa {
    margin: 20px 0;
    text-align: center;
  }
  
  .mapaSVG svg {
    width: 100%;
  }
  
  svg path {
    pointer-events: all;
    stroke-width: 0.3px;
  }
  
    svg path[id^=TT]:hover, svg g[id^=TT]:hover, svg rect[id^=TT]:hover, svg polygon[id^=TT]:hover {
      opacity: 1;
      stroke-width: 2;
      cursor: pointer;
    }
  
  .interactive-sector:not(.sector_destacado) {
    opacity: 0.75;
  }
  
  .sector_destacado {
    opacity: 1;
    stroke-width: 2;
    filter: drop-shadow( 0px 5px 15px rgba(0, 0, 0, 0.35));
  }
  
  svg path.no_disponible, svg g.no_disponible, svg rect.no_disponible, svg polygon.no_disponible {
    fill: #d1d3d4 !important;
  }
  
    svg path.no_disponible:hover, svg g.no_disponible:hover, svg rect.no_disponible:hover, svg polygon.no_disponible:hover {
      opacity: 1;
      stroke-width: 1;
      cursor: default;
    }
  
    svg g.no_disponible path, svg g.no_disponible rect, svg g.no_disponible polygon {
      fill: #d1d3d4 !important;
    }
  
  svg text {
    font-family: "titillium regular", Helvetica, Arial, sans-serif !important;
  }
  
  .tabla_sectores {
    padding: 0;
    position: relative;
  }
  
  .sector span.color {
    width: 11px;
    height: 11px;
    display: inline-block;
    line-height: 11px;
    float: left;
    margin-right: 10px;
  }
  
  .sector span.precio {
    display: inline-block;
    float: right;
  }
  
  .sector.seleccionado {
    background-color: #EEE;
    color: #F47920;
  }
  
  .sector.agotado {
    position: relative;
  }
  
    .sector.agotado::before {
      content: '';
      border-bottom: 2px solid red;
      width: 97%;
      position: absolute;
      right: 0;
      top: 50%;
      margin: 0px 4px 0 0px;
    }
  
  .locacion {
    display: none;
    width: 100%;
  }
  
  
  
  .contenedor_mapa_referencia svg .area_no_seleccionada {
    fill: #D1D3D4 !important;
  }
  
  .contenedor_mapa_referencia svg .area_seleccionada, .contenedor_mapa_referencia svg .area_seleccionada > .area_no_seleccionada {
    fill: #E8791B !important;
  }
  
  .st0 {
    fill: none;
    stroke: #8D849D;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #4BA8C9;
}

.st2 {
    fill: #070508;
    stroke: #0B0A0C;
    stroke-width: 1.0696;
    stroke-miterlimit: 10.6956;
}

.st3 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 0.5348;
    stroke-miterlimit: 10.6956;
}

.st4 {
    fill: #FEFDFD;
}

.st5 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #67A97E;
}

.st6 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #008BF4;
}

.st7 {
    fill: #47A6C8;
}

.st8 {
    fill: #53378A;
}

.st9 {
    fill: #DF9900;
}

.st10 {
    fill: #C43D3C;
}

.st11 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #86BBB8;
}

.st12 {
    fill: #C4CB26;
    stroke: #070508;
    stroke-width: 0.5348;
    stroke-miterlimit: 10.6956;
}


.resumen{
    margin-top: -150px;
    margin-left: 320px;
}

.resumen p {
    text-decoration: underline;
}


.resumen h3{
  font-size: 1.2em;
  margin-left: 83px;
}

.resumen td{
padding-left: 80px;
}



#agregar{
    height: 300px;
    background-color: rgb(255, 255, 255);
}


#agregar .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}





}