*{
    box-sizing: border-box;
}



html{
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

h1{ font-size: 2.25em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}


input{
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgb(218, 102, 0);
    cursor: pointer;
    border: #ffffff;
 }

 input:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

footer button{
    height: 50px;
    width: 200px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgb(164, 0, 0);
    cursor: pointer;
    border: #000000;
 }

 button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

 
.container{
    max-width: 500px;
    margin: auto;
}

#header{
    height: 0px;
    background-color: rgb(255, 255, 255);
}

#header .logo{
        background-size: cover;
        background-position: center center;
    margin-top: -60px;
    margin-left: -300px;
} 

.logo img {
    max-height: 250px;
    max-width: 250px; 
    margin-left: -360px;
    margin-top: 80px;
}

#header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
}

.navsss {
    margin-top: -100px;
}

.navsss img{
    height: 35px;
    margin-top: -7px;
}

.sign a {

    margin-left: 1000px;
    margin-top: -88px;
}

#header a{
    white-space: nowrap;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#header a:hover{
    color: rgb(128, 128, 128);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    margin-top: 200px;
   }

#hero p{
    font-size: 1.5em;
    color: white;
    margin-top: 370px;
}

.buttons{
    margin-top: 500px;
    margin-left: -640px;
}
/* -------- aaaa ----------- */

.der{
    background-color: #ffffff;
    height: 300px;
    width: 530px;
    margin-left: 1373px;
    margin-top: 50px;
    
}

.der img {
height: 200px;
}

.der h2 {
    margin-top: 10px;
    white-space: nowrap;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}

.der button{
    height: 50px;
    width: 200px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgb(218, 102, 0);
    cursor: pointer;
    border: #ffffff;

 }
 
.tabladepre img{
    height: 60px;
}

.tabladepre label{
    font-size: 1.8em;
    color: rgb(88, 88, 88);

}

/* -------- aaaa ----------- */

.foot1 img{
    height: 400px;

}

.foot1{
    margin-left: -400px;
    margin-top: -100px;
}

.selec mark, h1{
    background-color: rgb(218, 102, 0);
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    margin-top: -318px;
    margin-left: -160px;
}


/* -------- ultimo container ----------- */

footer{
    background-color: rgb(37, 37, 37);
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    #hero2 {
        height: 850px;
        }


    #hero2 .container{
        display: flex;
        justify-content: space-evenly;
    }

    #hero3 .programas{
        display: flex;
        justify-content: center;
    }

    footer{
        margin-top: -100px;
    }

    footer img{
        width: 400px;
        margin-top: 30px;
    }

    footer button{
    margin-left: 450px;
    margin-top: 30px;
    }


.resumen{
    margin-top: -150px;
    margin-left: 320px;
}

.resumen p {
    text-decoration: underline;
}


.resumen h3{
  font-size: 1.2em;
  margin-left: 83px;
}

.resumen td{
padding-left: 80px;
}



#agregar{
    height: 300px;
    background-color: rgb(255, 255, 255);
}


#agregar .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}





}